.order {
    margin-bottom: px2rem(50px);

    .order-header {
        box-sizing: border-box;
        width: 100%;
        height: px2rem(64px);
        padding-top: px2rem(20px);
        border-bottom: 1px solid #ccc;

        text-align: center;
        font-size: px2rem(24px);
        font-weight: bold;
    }
}