.content-list {
    margin-top: px2rem(20px);
    margin-bottom: px2rem(50px);

    .list-title {
        text-align: center;
        font-size: 16px;
        margin-bottom: px2rem(20px);
        
        .title-text {
            position: relative;
    
            &:before, &:after {
                content: "";
                display: inline-block;
                height:1px;
                width: 40px;
                background-color: #001;
                vertical-align: middle;
                transform: scaleY(0.5);
            }

            &:before {
                margin-right: 5px;
            }
            
            &:after {
                margin-left: 5px;
            }
        }
    }

}